streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
faiss-cpu
PyPDF2
pdfplumber
python-docx
pillow
pandas
numpy
python-dotenv
transformers
torch
accelerate
bitsandbytes
chromadb
tiktoken
pypdf
unstructured
layoutparser
detectro
pytesseract
opencv-python